{
  "Entries": [
    {
      "RequestUri": "/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"response_types_supported\": [\r\n    \"token\",\r\n    \"none\"\r\n  ],\r\n  \"id_token_signing_alg_values_supported\": [\r\n    \"RS256\"\r\n  ],\r\n  \"revocation_endpoint\": \"https://tradewinds.us.test.attest.azure.net/revoke\",\r\n  \"jwks_uri\": \"https://tradewinds.us.test.attest.azure.net/certs\",\r\n  \"claims_supported\": [\r\n    \"is-debuggable\",\r\n    \"sgx-mrsigner\",\r\n    \"sgx-mrenclave\",\r\n    \"product-id\",\r\n    \"svn\",\r\n    \"tee\",\r\n    \"device_id\",\r\n    \"component_0_id\",\r\n    \"expected_components\"\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}